*{
    margin: 0;
    padding: 0; 
 }
 body{
    overflow-x: hidden;  
}
 .navbar{
     height:70px;
     background-color: #607274 ;
     display: flex;
     
 }
 
 .logo img{
     width: 100px;
     height: 50px;
     margin: 10px 15px;
 
 }
 
 .navbaranchor{
     padding: 25px ;
     margin-left: 33%;
 }
 .navbaranchor :hover{
    color: yellow;
}
 .navbaranchor a{
 text-decoration: none;
 color: white;
 padding: 30px;
 font-size: 20px;
 font-weight: bold;
 
 }

 .navbar2{
    height:527px;
    background-color: #FAEED1;
}
.about{
    font-size: 60px;
    font-weight: bold;
    /* text-align: center; */
    padding: 1%;
    padding-left: 21%;
    
}

.details {
    width: 50%;
    padding-left: 3%;
    float: left;
    
}
.details, p, ul h3{
    font-size:20px;
    margin-bottom: 15px;
    text-align: justify;
    padding-right: 1%;
}
.details{
    overflow-y: scroll;
    /* background-color: aqua; */
    height: 400px;
    margin-left: 3%;
}
.About-pic img{
    width: 400px;
    height: 300px;
    float: right;
    padding-right: 4%;
    padding-top: 4%;
    
}