* {
    margin: 0;
    padding: 0;


}
body{
    overflow-x: hidden;  
}

.navbar {
    height: 12%;
    width: 100%;
    background-color: #607274;
    display: flex;
    position: fixed;

}

.logo img {
    width: 100px;
    height: 50px;
    margin: 10px 15px;

}

.navbaranchor {
    padding: 25px;
    margin-left: 33%;
    transition: 0.5;
}

.navbaranchor a {
    text-decoration: none;
    color: white;
    padding: 30px;
    font-size: 20px;
    font-weight: bold;

}

.navbaranchor :hover{
    color: yellow;
    
    
}

.navbar2 {
    height: 600px;
    /* background-color:#f5c9f7; */
    background-image: url("./Img/wallpaper-web-development.jpg");
    display: flex;
    background-size: contain;
    /* opacity: 0.9; */

}

.infocontainer {
    /* background-color: purple; */
    height: 65%;
    width: 65%;
    display: flex;
    margin: 8% auto;
}

.devInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;

}

.hello {
    font-size: 50px;
}

.name {
    font-size: 40px;
    font-weight: bold;
}

.course {
    font-size: 30px;
}

.devpic img {
    height: 90%;
    padding: 1% 90%;
    margin-top: 10%;
    padding-left: 30%;

}

.buttons {
    padding: 10px;
}

.buttons button {
    padding: 10px 10px;
    border-radius: 20px;
    color: white;
    background-color: dodgerblue;
    font-size: 15px;
    font-weight: bold;
    margin: 0 3px;


}

.buttons button:hover {
    color: dodgerblue;
    background-color: white;
}

.icon {
    display: block;
    padding-left: 30px;

}

.icon i {
    padding: 10px;
    font-size: 20px;
    color: white;
}

.navbar3 {
    height: 610px;
    background-color: #FAEED1;
}

.about {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding: 1%;

}

.details {
    width: 80%;
    margin: 0 auto;
   
}

.details,p,ul {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: justify;
}

.navbar4 {
    height: 100%;
    background-color: #DED0B6;
}

.certification {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding: 1%;
}

.anchor {
    display: flex;

}

.anchor a {
    text-decoration: none;
    color: black;
    padding: 1%;
    /* font-weight: bold; */
    
}
.anchor p{
    margin-top: 5%;
}
.anchor img {
    height: 220px;
    width: 350px;
    transition: 0.5;
    /* border: 2px solid red; */
}
.anchor img:hover{
    transform: scale(1.1);
    z-index: 2;
}
.navbar5 {
    height: 400px;
    background-color: #B2A59B;
}
.skills h2 {
    font-size: 60px;
    text-align: center;
    padding-top: 2%;
}
.section {
    background-color: rgb(252 159 175);
    padding: 3% 3% 3% 3%;
    box-shadow: 0 0 25px black;
    border-radius: 10px;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 4%;
}

.skill-item {
    /* background-color: pink;
    padding: 3% 3% 3% 3%;
    border-radius: 5%; */
    display: flex;
    gap: 7%;
    justify-content: center;
    margin-top: 1%;
}

.skill-item img {
    width: 100px;
    height: 100px;
    transition: 0.5;
}
.skill-item img:hover{
    transform: scale(1.2);
    z-index: 2;
}
.navbar6 {
    height: 80px;
    background-color: rgb(160, 160, 160);

}

.footer {
    padding: 1%;
    padding-left: 35%;

}

.footer i {
    padding: 2px;

}

.footer a {
    color: black;
}

.footer p {
    font-size: 15px;
}

